/* To use the alternative box model for all of 
your elements (which is a common choice among 
developers), set the box-sizing property on 
the <html> element and set all other elements 
to inherit that value: */

html {

    box-sizing: border-box;
}

*, *::before, *::after {

    box-sizing: inherit;
}

/* end code for above comment */

h2 {

    background-color: black;
    color: white;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {

    background-color: aqua;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {

    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

li {

    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


.box {
    padding: 5px;
    border: 10px solid cornflowerblue;
    margin: 1px;
    width: fit-content;
    height: fit-content;
}