/* To use the alternative box model for all of 
your elements (which is a common choice among 
developers), set the box-sizing property on 
the <html> element and set all other elements 
to inherit that value: */

html {

    box-sizing: border-box;
}

*, *::before, *::after {

    box-sizing: inherit;
}

/* end code for above comment */

h1, li {

    font-family: Arial, Helvetica, sans-serif;
}


li {

    font-size: 25px;
    background-color: orange;

}

h1 {

    background-color: green;
    font-size: 50px;

}